#cent{background-image:linear-gradient(to right,pink,lavender);background-attachment:fixed;background-size:cover;background-repeat:no-repeat}
#mess a:hover{padding:5px;background-color:grey;color:white;border:2px solid light;}
#mark{color:blue;background-color:pink}
#map{background-color:black}
#met a:hover{padding:5px;background-color:grey;color:white;border:2px solid light;}