#about{background-image:linear-gradient(to le ft,#d4a1e6,#accbe8);background-size:cover;}
.ball{color:blue}
#sit{color:grey}
#with{padding-bottom:12px;padding-top:18px}
#pass{color:orange}
#link a:hover{color:white;background-color:black;}
#abv a:hover{color:white;background-color:black;}
#skill{background-color:lavender}
#back{background-image:linear-gradient(to left,#bec987,#87c987)}
#bgr {background-image:url("image\img40.png");height:400px;background-size:cover}
#dull{background-color:#bce987;border:5px solid grey;border-radius:10px}
#doll{background-color:#d4a1e6;border:5px solid grey;border-radius:10px}
#dell{background-color:#accbe8;border:5px solid grey;border-radius:10px}
#dill{background-color:#87c987;border:5px solid grey;border radius:10px}
#join{background-color:#bce987;box-shadow:5px 5px 5px 5px grey}
#dive{background-color:#accbe8;box-shadow:5px 5px 5px 5px grey}
#code{background-color:#d4a1e6;box-shadow:5px 5px 5px 5px grey}
#dish{background-color:#d4a1e6;box-shadow:5px 5px 5px 5px grey}
#wish{background-color:#accbe8;box-shadow:5px 5px 5px 5px grey}
#aero{background-color:#d4a1e6;box-shadow:5px 5px 5px 5px grey}
#farm{background-color:#accbe8;box-shadow:5px 5px 5px 5px grey}
#stay{background-color:#accbe8;box-shadow:5px 5px 5px 5px grey}
#away{background-color:#d4a1e6;box-shadow:5px 5px 5px 5px grey}
#care{background-color:#bce987;box-shadow:5px 5px 5px 5px orange}
#rod{background-color:#bce987;box-shadow:5px 5px 5px 5px orange}
#cod{background-color:#bce987;box-shadow:5px 5px 5px 5px orange}
#nod{background-color:#bce987;box-shadow:5px 5px 5px 5px orange}
#berg{background-color:orange}
#call button:hover{color:white;background-color:black;}
#kit button:hover{color:white;background-color:black;}
#lock button:hover{color:white;background-color:black;}
#more button:hover{color:white;background-color:black;}
#beg {background-color:blue;box-shadow:5px 5px 5px 5px black;border:5px solid white;border-radius:10px;padding:5px}
#sub {background-color:red;box-shadow:5px 5px 5px 5px black;border:5px solid white;border-radius:10px}
.free{color:white}