#blog {margin-top:15px;padding:35px;background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat }
#hello a:hover{color:purple;border:3px double;}
#grid{margin-top:8px;}	
.icon{font-size:25px;font-family:kokila;text-align:left;color:purple}
#java{padding-left:39px}
#hay {text-align:left}
.cope{font-size:20px}
.link{font-size:12px;padding:5px}
#land{a:hover{color:purple;border:3px double;}
#bggr{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat;}
#aiya{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#nik{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#ias{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#doll{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#lay{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#dig{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#nike{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#kick{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
