#learn{color:blue;}
#edu{color:black;}
#long{color:grey;}
#shadow{color:blue}
#bckimg{background-image:linear-gradient(to right,pink,lavender);background-attachment:fixed;background-size:cover;background-repeat:no-repeat}
#log button:hover{background-color:black;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#poll a:hover{padding:5px;background-color:grey;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#get button:hover{background-color:black;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#get{font-size:38px;}
#core{color:blue;font-size:17px;}
#top{color:black;font-size:40px;}
#dulll{background-image:linear-gradient(to right,pink,grey);box-shadow:5px 5px 5px 5px grey}
#dolll{background-image:linear-gradient(to right,pink,grey);box-shadow:5px 5px 5px 5px grey}
#dilll{background-image:linear-gradient(to right,pink,grey);box-shadow:5px 5px 5px 5px grey}
#delll{background-image:linear-gradient(to right,pink,grey);box-shadow:5px 5px 5px 5px grey}
#date{background-image:linear-gradient(to right,pink,grey);box-shadow:5px 5px 5px 5px grey}
#day{background-image:linear-gradient(to right,pink,grey);box-shadow:5px 5px 5px 5px grey}
#delay{background-image:linear-gradient(to right,pink,grey);box-shadow:5px 5px 5px 5px grey}
#data{background-image:linear-gradient(to right,pink,grey);box-shadow:5px 5px 5px 5px grey}
#about{color:blue;padding-bottom:3px;font-size:17px}
#high{color:black;padding-bottom:5px}
#dolor{color:grey}
#flex{text-align:center;color:black}
#poss{color:grey}
#suppr{text-align:center;color:black}
#now{color:grey}
#lake{font-size:22px;text-align:center}
#more button:hover{background-color:black;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#back{background-color:lavender}
#back img{border-radius:30px 10px 30px 10px;}
#who{color:blue}
#all button:hover{margin-right:3px;padding:5px;background-color:grey;border:2px solid light;border-radius:5px 5px 5px 5px}
.iikk{margin-right:10px}
.late{text-align:center;color:blue;font-family:Elephant;padding-top:120px}
.let{text-align:center;padding-top:10px;padding-bottom:30px}
#events{background-color:plum}
#food{background-color:white;padding-bottom:15px;}
#book button:hover{background-color:blue;border:2px solid light;border-radius:5px 5px 5px 5px}
#love{color:blue;font-size:15px;font-family:Elephant}
#web{border:5px solid lavender;border-radius:5px 10px 10px 5px;border-collapse:separate;border-spacing:15px 50px}
#digit{color:blue}
#backg{background-image:linear-gradient(to top,pink,lavender);}
#off{background-color:grey;}
#comm{padding-bottom:10px}
#help{background-color:blue}
#clr{color:white}
#gett button:hover{font-size:20px;padding:5px;background-color:orange;border:2px solid light;border-radius:5px 5px 5px 5px}
#toss{color:orange}
#navy{color:orange}
#backgg{background-image:linear-gradient(to bottom,black,blue);}
#copy{font-family:italic;color:white}
#about{background-image:linear-gradient(to left,#d4a1e6,#accbe8);background-size:cover;}
.ball{color:blue}
#sit{color:grey}
#with{padding-bottom:12px;padding-top:18px}
#pass{color:orange}
#link a:hover{color:white;background-color:black;border-radius:5px 5px 5px 5px}
#abv a:hover{color:white;background-color:black;border-radius:5px 5px 5px 5px}
#skill{background-color:lavender}
#back{background-color:#87c987}
#bgr{background-image:url('image\img40.png');height:400px;background-size:cover}
#dull{background-color:#bce987;border:5px solid grey;border-radius:10px}
#doll{background-color:#d4a1e6;border:5px solid grey;border-radius:10px}
#dell{background-color:#accbe8;border:5px solid grey;border-radius:10px}
#dill{background-color:#87c987;border:5px solid grey;border-radius:10px}
#join{background-color:#bce987;box-shadow:5px 5px 5px 5px grey}
#dive{background-color:#accbe8;box-shadow:5px 5px 5px 5px grey}
#code{background-color:#d4a1e6;box-shadow:5px 5px 5px 5px grey}
#dish{background-color:#d4a1e6;box-shadow:5px 5px 5px 5px grey}
#wish{background-color:#accbe8;box-shadow:5px 5px 5px 5px grey}
#aero{background-color:#d4a1e6;box-shadow:5px 5px 5px 5px grey}
#farm{background-color:#accbe8;box-shadow:5px 5px 5px 5px grey}
#stay{background-color:#accbe8;box-shadow:5px 5px 5px 5px grey}
#away{background-color:#d4a1e6;box-shadow:5px 5px 5px 5px grey}
#care{background-color:#bce987;box-shadow:5px 5px 5px 5px grey}
#rod{background-color:#bce987;box-shadow:5px 5px 5px 5px grey}
#cod{background-color:#bce987;box-shadow:5px 5px 5px 5px grey}
#nod{background-color:#bce987;box-shadow:5px 5px 5px 5px grey}
#berg{background-color:white}
#call button:hover{color:white;background-color:black;border-radius:5px 5px 5px 5px}
#kit button:hover{color:white;background-color:black;border-radius:5px 5px 5px 5px}
#lock button:hover{color:white;background-color:black;border-radius:5px 5px 5px 5px}
#more button:hover{color:white;background-color:black;border-radius:5px 5px 5px 5px}
#beg {background-color:#accbe8;box-shadow:5px 5px 5px 5px black;border:5px solid white;border-radius:10px;padding:5px}
#sub{background-color:pink;box-shadow:5px 5px 5px 5px black;border:5px solid white;border-radius:10px}
.free{color:white}
.clap{color:grey}
.copel{font-size:20px}
#blog {margin-top:15px;padding:35px;background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat }
#hello a:hover{color:purple;border:3px double;border-radius:5px 5px 5px 5px}
#grid{margin-top:8px;}	
.icon{font-size:25px;font-family:kokila;text-align:left;color:purple}
#java{padding-left:39px}
#hay {text-align:left}
.cope{font-size:20px}
.link{font-size:12px;padding:5px}
#land a:hover{color:purple;border:3px double;border-radius:5px 5px 5px 5px}
#bggr{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat;}
#aiya{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#nik{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#ias{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#dol{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#lay{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#dig{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#nike{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#kick{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#niky{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#dige{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#kicky{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat}
#cent{background-image:linear-gradient(to right,#accbe8,#accbe8);background-attachment:fixed;background-size:cover;background-repeat:no-repeat}
#mess a:hover{background-color:black;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#carry{background-color:lavender}
#none{background-color:pink}
#submit button:hover{background-color:black;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#kirn{background-image:linear-gradient(to right,#accbe8,#accbe8);background-attachment:fixed;background-size:cover;background-repeat:no-repeat}
#ishi a:hover{background-color:black;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#kake button:hover{background-color:black;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#yet{background-image:url('image\contact1.jpg');height:500px}
.yet{background:url('image\img41.png');height:500px;background-size:cover}
#swara button:hover{background-color:black;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#sayd a:hover{background-color:black;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#mig{background-image:linear-gradient(to right,lavender,pink);background-size:cover;background-repeat:no-repeat;}
#read{margin-left:190px}
#anchor button:hover{background-color:black;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#rad a:hover{background-color:purple;color:white;border:2px solid light;border-radius:5px 5px 5px 5px}
#event{background-image:url('image\event1.jpg');height:"500px"}
#contact{box-shadow:5px 5px 5px 5px black;border:2px solid light}
#add a:hover{background-color:white;color:black;border:3px solid dark;border-radius:5px 5px 5px 5px}
#jean a:hover{color:white;background-color:black;border:3px solid light;border-radius:5px 5px 5px 5px}
#jeani a:hover{color:white;background-color:black;border:3px solid light;border-radius:5px 5px 5px 5px}
#jeany a:hover{color:white;background-color:black;border:3px solid light;border-radius:5px 5px 5px 5px}
#jeann a:hover{color:white;background-color:black;border:3px solid light;border-radius:5px 5px 5px 5px}
#graph{border-radius:5px 5px 5px 5px;box-shadow:5px 0px 0px 5px grey}
#time{border-radius:5px 5px 5px 5px;box-shadow:5px 5px 5px 5px black}
#timely{border-radius:5px 5px 5px 5px;box-shadow:5px 5px 5px 5px black}
#tim{border-radius:5px 5px 5px 5px;box-shadow:5px 5px 5px 5px black}
#gen{border-radius:5px 5px 5px 5px;}
#seen{background-image:linear-gradient(to right,#03b6fc,#5e39ad);background-size:cover;background-attachment:fixed;background-repeat:no-repeat}}
